<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strona o podanych adresie nie istnieje</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <style>
        .error-template {
            text-align: center;
        }

        .error-actions {
            margin-top: 15px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12" style="display: flex;justify-content: center;">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Nie znaleziono strony</h2>
                <div class="error-details">
                    Przepraszamy! Wybrana strona nie istnieje
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg"><span
                            class="glyphicon glyphicon-home"></span>
                        Strona główna </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</body>
</html>
